<div class="register-wrapper">
  <div class="register-left">
    <div class="register-box">

      <h1>Bienvenido a<br><span>manordomo</span></h1>

      <div class="field">
        <label>Nombre y apellido</label>
        <input type="text" placeholder="Pancho Pantera" [(ngModel)]="nombre" (keypress)="soloLetras($event)"/>
      </div>

      <div class="field">
        <label>Email</label>
        <input type="email" placeholder="Ejemplo@email.com" [(ngModel)]="correo"/>
      </div>

<div class="field">

    <label>Contraseña</label>
    <div class="password-wrapper">

      <input
        [type]="showPassword() ? 'text' : 'password'"
        placeholder="Al menos 8 caracteres"
        [(ngModel)]="contrasenia"/>

      <button
        type="button"
        class="toggle-password"
        (click)="togglePassword()">

        <!-- OJO ABIERTO -->
        <svg
          *ngIf="!showPassword()"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2">
          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"/>
          <circle cx="12" cy="12" r="3"/>
        </svg>

        <!-- OJO CERRADO -->
        <svg
          *ngIf="showPassword()"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2">
          <path d="M17.94 17.94A10.94 10.94 0 0 1 12 20C5 20 1 12 1 12a21.77 21.77 0 0 1 5.06-6.94"/>
          <path d="M9.9 4.24A10.94 10.94 0 0 1 12 4c7 0 11 8 11 8a21.8 21.8 0 0 1-3.17 4.31"/>
          <path d="M1 1l22 22"/>
        </svg>
      </button>

    </div>

  </div>

      <button class="btn-primary" (click)="onRegister()">Crear cuenta</button>

      <p class="login-link">¿Ya tienes una cuenta? <a routerLink="/">Inicia sesión</a></p>



      <footer>© 2026 Todos los derechos reservados</footer>
    </div>
  </div>

  <div class="register-right">
    <img src="lago.png" alt="logo" class="logo-img" />
  </div>
</div>
